# Jobs In Data Science:

In [ ]:
%pip install pandas seaborn matplotlib -q
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Read dataset into dataframe
df = pd.read_csv('../data/jobs_in_data_science.csv')
df.columns = df.columns.str.strip()  # Get rid of trailing spaces in column names
df

In [ ]:
df.info()


df.describe()

## Task one:

In [ ]:
avg_salary_by_year = df.groupby('work_year')['salary_in_usd'].mean()
plt.figure(figsize=(10,6))  # 10in x 6in
avg_salary_by_year.plot(kind='line', marker='o')
plt.title('Average Salary in Data Science Over Time')
plt.xlabel('Year')
plt.ylabel('Average Salary (USD)')
plt.grid(True)
plt.show()

# Task 2 slary Distribution by job tittle

In [ ]:
plt.figure(figsize=(12, 8))
df.head(500).boxplot(column='salary_in_usd', by='job_title')
plt.suptitle('')
plt.title('Salary Distribution by Job Title')
plt.xlabel('Job Title')
plt.ylabel('Salary (USD)')
plt.xticks(rotation=90)
plt.show()

there is a wide variation of salaries across diffrent job tittles, with mostly AI-related roles having drastically higher median slaaries and wider ranges.

# Task 3: Experience level vs. Salary

In [ ]:
salary_by_exp = df.groupby('experience_level')['salary_in_usd'].mean()
# salary_by_exp.plot(kind='bar')
ax = sns.barplot(x=salary_by_exp.index, y=salary_by_exp.values, color='slateblue')
ax.bar_label(ax.containers[0], fontsize=10)
plt.title('Average Salary by Experience Level')
plt.xlabel('Experience Level')
plt.ylabel('Average Salary (USD)')
plt.show()

## Task 4 Geographic Salary Distribution

In [ ]:
plt.figure(figsize=(10,6))
sns.histplot(y='employee_residence', x='salary_in_usd', data=df.head(2500))
plt.title('Geographic Salary Distribution')
plt.xlabel('Salary (USD)')
plt.ylabel('Frequency')
plt.show()

## Task 5 Company Size and Salary Structure

In [ ]:
plt.figure(figsize=(10, 6))
sns.boxplot(x='company_size', y='salary_in_usd', data=df)  # sns.violinplot(...)
plt.title('Salary Distribution by Company Size')
plt.xlabel('Company Size')
plt.ylabel('Salary (USD)')
plt.show()

# Task 6 Impact of Work Setting on Salary

In [ ]:
plt.figure(figsize=(10,6))
sns.scatterplot(x='work_setting', y='salary_in_usd', data=df)  # Or sns.boxplot(...)
plt.title('Salary vs. Work Setting')
plt.xlabel('Work Setting')
plt.ylabel('Salary (USD)')
plt.show()

# week 21- SQL

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("prog54a.db")
cur = conn.cursor()

cur.execute("""
CREATE TABLE cars(
    Vehicle TEXT,
    Miles INT,
    Gallons INT,
    MPG FLOAT)
""")

data= [
    ('1970 VW Bug', 286,9),
    ('1979 Firebird',412,40),
    ('1980 Subaru',361,18),
    ('1975 Cutlass',161,11),
]
cur.executemany('INSERT INTO cars (Vehicale,Miles,Gallons,MPG) VALUES(?,?,?,0)', data)
conn.commit()

df = pd.read_sql_query('SELECT * FROM cars', conn)
df

for index,row in df.iterrows():
    mpg = round(row['Miles']/row['Gallons'],1)
    cur.execute('UPDATE cars SET MPG = ? WHERE Vehicle = ?', (mpg, row['Vehicle']))
cur.execute('DELETE FORM cars WHERE MPG <12 AND Gallons =40')
conn.commit()

update_df = pd.read_sql_query('SELCT * FROM cars,')